<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/webix/webix.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.css">
    <script src="/webix/webix.js" type="text/javascript"></script>
  </head>
  <body>
    <style>
      html, body{
        height:100%;
        margin:0;
      }

      .focusWindows:focus {
        background-color: rgba(0, 81, 255, 0.925);
      }

      .webix_window {
        user-select: none;
      }
    </style>
    <button id="FileManager" onclick="openFileManager()">Open File Manager</button>
    <button onclick="test()">Add Item</button>
    <!-- <div id="video_div" style="width:300px; height:200px;"></div> -->
    <script>
      const serverHost = window.location.origin;


      let firstTime = true;

      // Format Files Sizes
      const listSizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

      function getHumanisedSize (value) {
        const listSizesLength = listSizes.length;
        let i = 0;

        value = parseInt(value, 10);

        while (value > 1024) {
          if (i >= listSizesLength - 1) {
            break;
          }

          i++
          value = value / 1024;
        }

        return `${value.toFixed(2)} ${listSizes[i]}`;
      }

      webix.protoUI({
        name:"edittree"
      }, webix.EditAbility, webix.ui.tree);

      // webix.ui.datafilter.customTotalSize = webix.extend({
      //   refresh: (master, node, value) => {
      //     let result = 0;
      //     master.mapCells(null, value.columnId, null, 1, value => {
      //       value = value * 1;
      //       if (!isNaN(value)) {
      //         result += value;
      //       }

      //       console.log('value: ', value);
      //       return value;
      //     });

      //     // node.firstChild.innerHTML = Math.round(result / master.count());
      //     node.firstChild.innerHTML = getHumanisedSize(result);
      //   }
      // }, webix.ui.datafilter.summColumn);



      // webix.ui({
      //   view:"video",
      //   container:"video_div",
      //   id:"video1", 
      //   src: [
      //     "http://cdn.webix.io/demodata/movie.ogv",
      //     "http://cdn.webix.io/demodata/movie.mp4"
      //   ]
      // });

      const mainTree = {
        view:"edittree",
        id: "mainTree",
        url: `${serverHost}/v1/test/all`,
        type: {
          template: '{common.icon()} <span class="mdi mdi-folder"></span> <span>#value#</span>'   // mdi-folder-outline
        },
        select:true,
        editable: true,
        editor:"text",
        editValue:"value",
        editaction: "dblclick",
        gravity:0.3
      };

      const mainDataTable = {
        view:"datatable",
        id: "mainDT",
        select: true,
        resizeColumn: { headerOnly: true },
        columns: [
          { 
            id: "Name",
            fillspace: 50,
            template: "#IconType# #Name#",
            // format: value => `<span class="mdi ${getTypeFile(value)}"></span> ${value}`,
            editor: "text",
            footer: { text: 'Total: ' }
          },
          { id: "Type", fillspace: 15 },
          // { id: "Date", fillspace: 17, format: webix.Date.strToDate("%d/%m/%y") },
          { id: "Date", fillspace: 20, format: webix.i18n.strFormatDate },
          { id: "Size", fillspace: 15, format: getHumanisedSize, footer: { content: 'summColumn' }}
        ],
        // onContext: {},
        ready() {
          console.log('DATATABLE READY !!!');
        },
        editable: true,
        editaction: "none",
        // map: {
        //   Date2: "(date)#Date#"
        // },
        css:"webix_header_border",
        footer:true
      };

      const win = webix.ui({
        view: "window",
        head:{
          cols:[
            { template: "File Manager", type: "header", borderless: true },
            { view: "icon", icon: "mdi mdi-fullscreen", tooltip: "FullScreen", click: function () {
              if (win.config.fullscreen){
                webix.fullscreen.exit();
                this.define({ icon: "mdi mdi-fullscreen", tooltip: "FullScreen" });
              }
              else {
                webix.fullscreen.set(win);
                this.define({ icon: "mdi mdi-fullscreen-exit", tooltip: "Resized" });
              }
              this.refresh();
            }},
            { view: "icon", icon: "wxi-close", tooltip: "Close window", click: () => win.hide() }
          ]
        },
        minWidth: 500,
        minHeight: 250,
        width: 900,
        height: 500,
        move: true,
        resize: true,
        css: 'focusWindows',
        body: {
          cols:[
            mainTree,
            { view:"resizer" },
            mainDataTable,
          ]
        }
      });
      
      $$("mainDT").bind($$("mainTree"), "$data", "files");

      win.attachEvent("onShow", () => {
        // win.$view.classList.add("focusWindows");
        // $$("mainTree").select($$("mainTree").getFirstId());
        console.log('onShow FIRED...');
        console.log(win)
        document.getElementById("FileManager").disabled = true;
        // $$("mainDT").hideOverlay();
      });


      win.attachEvent("onHide", () => {
        console.log('onHide FIRED...');
        document.getElementById("FileManager").disabled = false;
      });

      win.attachEvent("onBeforeShow", () => {
        // $$("mainDT").showOverLay("Loading");
        $$("mainTree").select($$("mainTree").getFirstId());
      });
      
      $$("mainTree").attachEvent("onAfterLoad", function() {
        webix.message("Data loaded");
      });

      $$("mainDT").attachEvent("onItemDblClick", (...all) => {
        let folderId = $$("mainDT").find(obj => obj.Name === all[2].textContent.trim(), true).folderId;
        
        if (folderId) {
          firstTime = true;

          do {
            if (firstTime) {
              $$("mainTree").select(folderId);
              firstTime = false;
            }
            $$("mainTree").open(folderId);

            folderId = $$("mainTree").getParentId(folderId);
          } while (folderId !== 'root');
        }
      });

      win.attachEvent("onItemClick", (...rest) => {
        console.log('onItemClick FIRED... ', rest);
        // $$("mainTree").select($$("mainTree").getFirstId());
      });

      // TODO: Send data to modify the real file on server side...
      $$("mainDT").attachEvent("onAfterEditStop", (state, editor, ignoreUpdate) => {
        console.log('state: ', state);
        console.log('editor: ', editor);
        console.log('ignoreUpdate: ', ignoreUpdate);

        if(ignoreUpdate !== true && state.value !== state.old) {
          const selectedId = `${$$("mainTree").getSelectedId()}`;
          const path = [];
          const dataToSend = {
            oldValue: state.old,
            newValue: state.value
          };

          path.push(selectedId);

          if (selectedId !== 'root') {
            let folderId = null;

            do {
              folderId = $$("mainTree").getParentId(folderId || selectedId);
              path.push(folderId);
            } while (folderId !== 'root');
          }

          dataToSend.absoluteBasePath = path.reverse().reduce((acc, current) => acc += `${$$("mainTree").getItem(current).value}/`, '');

          console.log('dataToSend: ', dataToSend);

          // TODO: Send the data to the server to tell him to use the "mv" command for rename file or folder and save into DB and return the new tree of data

          // Lock the ui to avoid multiple renaming the same value and send multiple request "mv" to the server
          win.disable();

          // TODO: When the serveur send the new tree of data, refresh the ui with new values
          // Simulate the response of the server, unlock the ui
          setTimeout(() => {
            win.enable();
          }, 1000 * 2);

          webix.message("Cell value was changed");
        }
      });

      $$('mainTree').attachEvent("onBeforeEditStart", id => {
        if ($$('mainTree').getItem(id).$level === 1) {
          return false;
        }
      });

      webix.ui({
        view:"contextmenu", id:"mainDT_CM",
        // data: [
        //   `<span class="mdi mdi-plus"></span> Add`,
        //   `<span class="mdi mdi-tooltip-edit"></span> Rename`,
        //   `<span class="mdi mdi-delete"></span> Delete`
        // ],
        data: [
          `Copy`,
          `Cut`,
          `Paste`,
          `Rename`,
          { $template:"Separator" },
          `Create Folder`,
          { $template:"Separator" },
          `Delete`,
          { $template:"Separator" },
          `Upload`
        ],
        click: function(id, context) {
          $$("mainDT").select(this.getContext().id.row);
          console.log(`${id} on row ${this.getContext().id}`);
        },
        on: {
          onMenuItemClick: function(id) {
            webix.message(this.getItem(id).value);
            console.log(this.getContext().id);

            if (this.getItem(id).value === "Add") {
              // $$("mainDT").editCell(this.getContext().id.row);
            }
            else if (this.getItem(id).value === "Rename") {
              $$("mainDT").editCell(this.getContext().id.row);
            }
            else if (this.getItem(id).value === "Delete") {
              // $$("mainDT").editCell(this.getContext().id.row);
            }
          }
        }
      }).attachTo($$("mainDT"));

      function openFileManager() {
        if (firstTime) {
          firstTime = false;
        }

        win.show();
        const { width, height } = win.config;
        console.log('width: ', win.$width);
        console.log('height: ', win.$height);
        console.log('name: ', win.name);
        console.log('config: ', win.config);
        console.log('$setSize: width: ', width, ' height: ', height, ' ', win.$setSize(width, height));
        // win.resize();
        // win.disable();
      };

      function test() {
        $$('mainDT').add(
        {
          "id": 3,
          "title": "The Best",
          "year": 1990
        });
      };

      // Format Files Types
      const defaultIcon = 'mdi-file';
      const typesFiles = [
        { type: 'mdi-video', extensionFile: ['avi', 'mov', 'mkv', 'mp4', 'flv'] },
        { type: 'mdi-file-image', extensionFile: ['jpg', 'jpeg', 'png', 'bmp', 'tif'] },
        { type: 'mdi-file-music', extensionFile: ['mp3', 'wav', 'flac'] },
        { type: 'mdi-file-pdf', extensionFile: ['pdf'] },
        { type: 'mdi-file-excel', extensionFile: ['xls', 'xlsx'] },
        { type: 'mdi-file-word', extensionFile: ['doc', 'docx'] },
        { type: 'mdi-file-powerpoint', extensionFile: ['ppt', 'pptx'] },
        { type: 'mdi-nodejs', extensionFile: ['js'] },
        { type: 'mdi-language-html5', extensionFile: ['html', 'xhtml', 'htm'] },
        { type: 'mdi-language-css3', extensionFile: ['css'] },
        { type: 'mdi-visual-studio-code', extensionFile: ['sh', 'bash', 'php', 'ico', 'h', 'c', 'h++', 'cpp', 'java'] },
      ];

      function getTypeFile (value) {
        console.log('value: ', value);

        if (value.includes('.')) {
          [value] = value.split('.').slice(-1);
        }

        value = value.toLowerCase();
        
        return typesFiles.reduce((acc, current) => {
          if (current.extensionFile.includes(value)) {
            acc = current.type;
          }
          return acc;
        }, defaultIcon);
      }

      // // Format Date
      // function formatedDate (value) {

      // }


      // Icons for manage files :
      // new file: mdi-file-plus
      // new folder: mdi-folder-plus
      // generic plus: mdi-plus | mdi-plus-box | mdi-plus-box-outline | mdi-plus-circle | mdi-plus-circle-outline
      // generic remove: mdi-trash-can | mdi-trash-can-outline
      // remove folder: mdi-folder-remove

      // HD / UHD / 4K Video: mdi-high-definition | mdi-high-definition-box | mdi-ultra-high-definition | mdi-video-4k-box
    </script>
  </body>
</html>